.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: inter;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form > h1{
  font-size:35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}
.login-form > input{
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: inter;
  border-radius: 2px;
  font-size: 15px;
}
.submit-btn{
  padding: 17px 30px;
  margin-top: 10px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: inter;
  border-radius: 3px;
}
.Link{
  margin-top: 20px;
  text-align: right;
}
/*.logout-button{*/
/*  min-width: 300px;*/
/*  padding: 17px 30px;*/
/*  margin-top: 20px;*/
/*  background: black;*/
/*  border: none;*/
/*  color: white;*/

/*}*/
/*.user-name{*/
/*  color: #8d0ada;*/
/*}*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
